/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* initialization */
:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    border: 0;
    padding:  0;
    /* font-size: 100%; */
    box-sizing: border-box;
    vertical-align: top;
    outline: 0;
    /* outline: red 1px dashed; */
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}

.nav {
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    overflow: show;
}

h1 {
    font-size: 4rem;
}

.logo {
    margin: 0 0 0 5%;
    display: flex;
    flex: 1;
}

.navLinks {
    display: flex;
    flex: 5;
}
.button-container {
    display: flex;
    margin: 0 5% 0 0;
}
.button {
    padding: .5rem 2rem;
    color: white;
    height: 4rem;
    background-color: #17A2B8;
    font-size: 1.6rem;
    display: flex;
    flex: 1;
    justify-self: flex-end;
    line-height: 1;
}

.button:hover {
    background-color: slategray;
    cursor: pointer;
}

.button:active {
    transform: translateY(.2rem);
}


.link {
    /* margin-right: 1rem; */
    margin-left: 2rem;
}

.navContent {
    display: flex;
}

.navLinks a {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
}

a:hover {
    color: slategray;
}

main {
    margin: 3rem 5%;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 3rem;
    /* margin: 3rem 15rem; */
    /* width: 70%; */
}

/* Main Content Columns */

.col1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 3;
    min-width: 27rem;
}

/* Col1 Rows */

.row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem;
    /* margin: 3rem 0; */
    /* margin-right: 1.5rem; */
    border: solid 2px gray;
}

.userCardHeader {
    height: 7rem;
    display: flex;
    align-items: center;
    background-color: #17A2B8;
    color: black;
    overflow: show;
    margin-bottom: 3.5rem;
    padding-left: 3rem;
}
.userPic {
    position: relative;
    top: 3rem;
    height: 7.5rem;
    width: 7.5rem;
    background-image: url("img/jane-m.jpg");
    background-repeat: no-repeat;
    background-size: 7rem 7rem;
    background-position: center;
    background-color: white;
    border: .3rem solid lightgray;
    border-radius: 50%;
    margin-bottom: 0;
}

.userInfo {
    padding-left: 3rem;
}

.location {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.pip {
    margin-right: 1rem;
    height: 2rem;
}

.editProf {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.gear {

    margin-right: 1rem;
    height: 2rem;
}

.userInfo a {
    font-size: 1.6rem;
    line-height: 1;
}

.description {
    margin-bottom: 1rem;
}

.description p {
    margin-bottom: .5rem;
}

.row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    /* margin: 3rem 0; */
    /* margin-right: 1.5rem; */
    border: solid 2px gray;
}

.eduItems {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.eduItems h4 {
    color: gray;
}

.col2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex:2;
    min-width: 27rem;
}

/* col2 Rows */

.row3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem;
    /* margin: 3rem 0;
    margin-left: 1.5rem; */
    border: solid 2px gray;
}

.sidebarHeader {
    display: flex;
    align-items: center;
    height: 7rem;
    background-color: #333333;
    color: white;
    padding-left: 3rem;
    gap: 1rem;
}

.numReqs {
    display: inline-block;
    text-align: center;
    width: 3rem;
    height: 3rem;
    background-color: gray;
    border-radius: 50%;
    line-height: 3rem;
}

.profPic {
    background-size: 5rem 5rem;
    height: 5rem;
    width: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: .3rem solid lightgray;
    border-radius: 50%;
}

.otherUsers {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
    justify-content: space-between;
    padding-left: 1.5rem;
}

.sideNameContainer {
    display: flex;
    align-items: center;
    /* width: 20rem; */
    gap: 1rem;
    margin: 1rem 0;
}

#todd {
    background-image: url("img/todd-s.jpg");
}

#phil {
    background-image: url("img/phil-s.jpg");
}

#adrien {
    background-image: url("img/adrien-s.jpg");
}
#anne {
    background-image: url("img/anne-s.jpg");
}
#alayne {
    background-image: url("img/alayne-s.jpg");
}
#arry {
    background-image: url("img/arry-s.jpg");
}

.acceptButtonContainer {
    display: flex;
    gap: 1rem;
}

.acceptButton {
    background-size: 5rem 5rem;
    height: 3.5rem;
    width: 3.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.row4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem;
    /* margin: 3rem 0;
    margin-left: 1.5rem; */
    border: solid 2px gray;
}

.numCons {
    background-color: gray;
    border-radius: 50%;
    width: 8rem;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.sidebarFooter {
    display: flex;
    align-items: center;
    height: 6rem;
    padding: 2rem;
    gap: 1rem;
    border-top: solid 2px gray;
}


